@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  font-family: 'MiSans';
}

button {
  @apply select-none outline-none;
}

.fade-blur-enter-active,
.fade-blur-leave-active {
  transition: opacity 0.23s, filter 0.23s;
}

.fade-blur-enter-from,
.fade-blur-leave-to {
  opacity: 0;
  filter: blur(7px);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}